<h1>{{ user.id }}</h1>

<div class="body">
  <div class="askQuestion">
    <form #askquestion="ngForm" (ngSubmit)="askQuestion(askquestion.value)">
      <div>
        <h3>Ask Your Question</h3>
      </div>
      <div class="padding">
        <select
          ngModel
          name="topic"
          class="form-select"
          aria-label="Default select example"
          required
        >
          <option selected disabled>Choose Topic</option>
          <option value="Java">Java</option>
          <option value="Python">Python</option>
          <option value="Cloud">Cloud</option>
          <option value="Others">Others</option>
        </select>
      </div>
      <div class="mb-3 padding">
        <label for="exampleFormControlTextarea1" class="form-label"
          >Post Your Question ?</label
        >
        <textarea
          ngModel
          name="question"
          class="form-control"
          id="exampleFormControlTextarea1"
          rows="5"
          required
        ></textarea>
      </div>
      <div class="mb-3">
        <label for="formFileMultiple" class="form-label"
          >Upload photos for reference</label
        >
        <input
          class="form-control"
          type="file"
          id="formFileMultiple"
          multiple
        />
      </div>
      <div class="askQuestionButton">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>
</div>
