<h1>{{ user.id }}</h1>
<button
  class="btn btn-outline-danger float-end"
  (click)="userLogout(user.id)"
  type="button"
>
  LogOut
</button>
<br />
<a
  routerLink="/ask-question"
  routerLinkActive="active"
  ariaCurrentWhenActive="page"
>
  <button class="btn ml-15 btn-outline-primary" id="ask">Ask Question</button>
</a>
<br />
<app-all-questions></app-all-questions>
